/* This is my stylesheet for my website! */

body {
    background-color: blanchedalmond;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800px;
    text-align: center;
    color: rgb(41, 38, 32);
    
}

.curryclass{
    text-align: center;
}

.recipes {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800px;
    text-align: left;
    color: rgb(233, 141, 4);
}


